-if @form.nil?
  -raise Exception, 'Controller did not set @form'
-if flash[:notice]
  .notice= flash[:notice]
= form_for @response do |f|
  %input{ type: 'hidden', name: 'form_id', value: @form.id }
  %div
    %label
      Name
      %input{ type: 'text', name: 'user_name' }
    %label
      Email
      %input{ type: 'text', name: 'user_email' }

  =render partial: 'question', collection: @form.questions, locals: { f: f }
  = f.submit
