%div
  %a{ href: "/responses/new?form_id=#{@form.id}" }
    Fill out this form &raquo;
%div Shading results based on #{@form.responses.count} responses
%hr

=render partial: 'question', collection: @form.questions
